<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>picture-1</string>
		<key>Tile number</key>
		<string>0</string>
		<key>anchorX</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>picture-2</string>
		<key>Tile number</key>
		<string>2</string>
		<key>anchorX</key>
		<string>0</string>
	</dict>
</array>
</plist>
